@charset "utf-8";
body {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
header {
  width: 100%;
  height: 100px;
}
header .top-nav {
  width: 100%;
  position: absolute;
}
header .top-nav a,
header .top-nav ul {
  float: left;
}
header .top-nav .center .li1 {
  margin-left: -30px;
  margin-top: -8px;
}
header .top-nav .center .li1 .e-mail,
header .top-nav .center .li1 .myname {
  float: left;
}
header .top-nav .center .li1 .myname {
  position: relative;
  top: -20px;
  margin-right: 5px;
}
header .top-nav .center .li1 .e-mail {
  font-size: 14px;
}
header .top-nav .center .li1 .hidden1 {
  display: none;
  position: relative;
  top: 0;
  left: 20px;
  z-index: 1000;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 3px;
  width: 90%;
  height: 200px;
}
header .top-nav .center .li1 .hidden1 p {
  font-size: 12px;
  text-align: left;
  color: #8D8D8D;
  font-weight: bold;
}
header .top-nav .center .li1 .hidden1 .account {
  color: #222;
}
header .top-nav .center .li1 .hidden1 .line {
  width: 95%;
  margin: 0 auto;
  height: 1px;
  border-bottom: 2px solid #bbb;
}
header .top-nav .center .li1 .hidden1 div {
  width: 100%;
}
header .top-nav .center .li1 .hidden1 div ul {
  width: 100%;
  margin-left: -40px;
}
header .top-nav .center .li1 .hidden1 div ul li {
  float: left;
  margin-left: 15px;
  background-color: #eee;
  width: 38%;
  height: 25px;
  line-height: 25px;
  border: 1px solid #bbb;
  border-radius: 3px;
}
header .top-nav .center .li1 .hidden1 div ul li a {
  font-size: 12px;
  color: #222;
}
header .top-nav .center .li2 {
  position: relative;
  top: 5px;
  left: -90px;
}
header .top-nav .center .li2 ul li {
  float: left;
}
header .top-nav .center .li2 ul li a {
  color: #1E5494;
  font-size: 12px;
}
header .top-nav .right {
  float: right;
  padding-right: 0px;
  margin-top: 0;
  width: 30%;
  height: 100px;
  background-image: url(../images/bg-top.jpg);
  background-repeat: no-repeat;
}
header .top-nav .right li {
  float: left;
  font-size: 12px;
  position: relative;
  right: -200px;
  top: 10px;
  padding-left: 2px;
}
header .top-nav .right li .hidden2 {
  display: none;
  position: relative;
  z-index: 1000;
  left: 20px;
  top: 30px;
  width: 550%;
  border: 1px solid #111;
  background-color: #fff;
}
header .top-nav .right li a {
  color: #1E5494;
  font-size: 12px;
}
header .top-nav .right .phone {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
header .top-nav .right .phone a {
  width: 100%;
  height: 100%;
  background-image: url(../images/bg-small.png);
  background-repeat: no-repeat;
  background-position: -124px 0;
}
header .top-nav .right .search {
  position: absolute;
  margin-left: 140px;
  margin-top: 10px;
}
header .top-nav .right .search div,
header .top-nav .right .search input {
  float: left;
  position: relative;
  top: 30px;
}
header .top-nav .right .search div {
  width: 20px;
  height: 20px;
  border: 1px solid #bbb;
  border-right: transparent;
  background-image: url(../images/icon.png);
  background-repeat: no-repeat;
  background-position: -43px -220px;
  background-color: #fff;
}
header .top-nav .right .search input {
  height: 18px;
  border: 1px solid #bbb;
  border-left: transparent;
  outline: none;
  width: 240px;
}
.content {
  width: 99.2%;
  height: 90%;
  position: absolute;
  border-radius: 10px 0 0 0;
  background-color: #89B5E9;
  margin-left: 0.8%;
  margin-top: -2.5%;
}
.content .nav-left {
  width: 12%;
  height: 95%;
  background-color: #89B5E9;
  margin-left: 0.5%;
}
.content .nav-left .nav-left-top {
  margin-top: 5%;
  width: 100%;
  height: 16%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-image: url(../images/bg-left.gif);
  background-repeat: no-repeat;
  background-position: -8px 0;
}
.content .nav-left .nav-left-top ul {
  width: 100%;
  margin-left: -20%;
  margin-top: -4%;
}
.content .nav-left .nav-left-top ul li {
  padding-top: 6%;
}
.content .nav-left .nav-left-top ul li span {
  display: inline-block;
  width: 20px;
  height: 17px;
  background-image: url(../images/icon.png);
  background-repeat: no-repeat;
}
.content .nav-left .nav-left-top ul li a {
  font-size: 14px;
  color: #1E5494;
  font-weight: bold;
}
.content .nav-left .nav-left-top ul li .bg1 {
  background-position: 0 0;
}
.content .nav-left .nav-left-top ul li .bg2 {
  background-position: 0 -32px;
}
.content .nav-left .nav-left-top ul li .bg3 {
  background-position: 0 -62px;
}
.content .nav-left .nav-left-bottom {
  width: 101%;
  height: 85%;
  margin-top: -6%;
  background-color: #fff;
  border-radius: 5px;
}
.content .nav-left .nav-left-bottom ul {
  width: 100%;
  margin-left: -15%;
}
.content .nav-left .nav-left-bottom ul li {
  padding-top: 3%;
}
.content .nav-left .nav-left-bottom ul li a {
  font-size: 13px;
  color: #1E5494;
}
.content .nav-left .nav-left-bottom ul li span {
  font-size: 13px;
  color: #1E5494;
}
.content .nav-left .nav-left-bottom ul .li-border {
  width: 96%;
  height: 1px;
  border-bottom: 1px solid #ccc;
  margin-left: -8%;
}
.content .content-right {
  width: 86.8%;
  position: absolute;
  right: 0;
  top: 1.5%;
  height: 98.5%;
  background-color: #fff;
  border-radius: 5px 0 0 0;
}
